.btn-blue {
	background-color: #fdf8ec;
	padding: 15px 20px;
	border-radius: 4px;
	color: #b94f27;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.btn-blue:hover {
  background-color: #b94f27;
  color: #fdf8ec;
}
